.listTitle {
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    border-bottom:1px solid currentColor;
    
}
.title {
    border-bottom: black; 
}
.textArea-container {
    padding:10px;
}
.textArea {
    margin: 2px;
    overflow: auto;
    outline: none;
    border: transparent;
    min-height: 250px;
    width: 100%;
    resize: none;
}
.textAreaTitle {
    margin: 5px;
    overflow: auto;
    outline: none;
    border: transparent;
    height: 40px;
    width: 100%;
    resize: none;
}
i.icon.pencil:before {
    content: "\f303";
    margin: 10px;
}
i.icon.delete:before {
    content: "\f00d";
    margin: 10px;
}