.AppHeader {
  align-items: center;
  min-height: 10vh;
  padding: 60px;
  text-align: center;
  font-size: 30px;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
  margin-bottom: 30px;
}

h3 {
  font-size: 40px;
  text-align: center;
}

