.AppHeader {
  align-items: center;
  height: 10px;;
  padding: 60px;
  text-align: center;
  font-size: 50px;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
  margin-bottom: 30px;
}

h3 {
  font-size: 40px;
  text-align: center;
}

